<!DOCTYPE html>
<html ng-app="FundingHubApp">
<head>
    <base href=".">
    <title>FundingHub</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="./app.css" rel='stylesheet' type='text/css'>
    <script src="./app.js"></script>
    <script src="./FundingHubController.js"></script>
</head>
<body ng-controller="FundingHubController">
<span><h1><span>FundingHub @ </span></h1><h2><span>{{fh.address}}</span></h2></span>

<div>
    <h3>Create Project</h3>
    <div>
        <span>Owner:</span>
        <input type="text" id="owner" ng-model="owner"
               placeholder="Owner address 0x..."/></div>
    <div>
        <span>Goal amount:</span>
        <input type="number" id="goalAmount" ng-model="goalAmount"
               placeholder="goal amount in wei"/></div>
    <div>
        <span>Deadline:</span>
        <input type="date" id="endDate" ng-model="deadline"
               placeholder="yyyy-MM-dd"/></div>
    <button ng-click="createProject(owner,goalAmount,deadline)">CreateProject</button>
</div>

<div>
    <h3>Fund</h3>
    <div>
        <span>From:</span>
        <input type="text" id="sender" ng-model="sender"
               placeholder="sender address 0x..."/></div>
    <div>
        <span>Amount:</span>
        <input type="number" id="amount" ng-model="amount"
               placeholder="goal amount in wei"/></div>
    <button ng-click="fund(sender,amount)">CreateProject</button>
</div>

<ul>
    <li ng-repeat="project in projects">
        <div>
            <h5><span>project @ </span><span>{{project.address}}</span></h5>
            <p>
                <span>owner @ </span><span>{{project.owner}}</span>
                <span>goalAmount @ </span><span>{{project.goalAmount.toString()}}</span>
                <span>deadline @ </span><span>{{(new Date(project.deadline.toNumber())).toString()}}</span>
                <span>amountFunded @ </span><span>{{project.amountFunded.toString()}}</span>
                <span ng-show="project.refunded || project.paid "><span>status: </span><span>{{project.refunded? 'refunded' : 'paid'}}</span></span>
            </p>
        </div>
    </li>
</ul>
</body>
</html>
