<!DOCTYPE html>
<html ng-app="FundingHubApp">
<head>
    <base href=".">
    <title>FundingHub</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="./app.css" rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
    <script src="./app.js"></script>
    <script src="./FundingHubController.js"></script>
</head>
<body ng-controller="FundingHubController">
<span><h1><span>FundingHub @ </span></h1><h2><span>{{fh.address}}</span></h2></span>

<div>
    <h3>Create Project</h3>
    <div>
        <span>Owner:</span>
        <input type="text" id="owner" ng-model="owner"
               placeholder="Owner address 0x..."/></div>
    <div>
        <span>Goal amount:</span>
        <input type="number" id="goalAmount" ng-model="goalAmount"
               placeholder="goal amount in wei"/></div>
    <div>
        <span>Deadline:</span>
        <input type="date" id="endDate" ng-model="deadline"
               placeholder="yyyy-MM-dd"/></div>
    <button ng-click="createProject(owner,goalAmount,deadline)">CreateProject</button>
</div>

<div>
    <h3>Fund project -> <span></span>{{fundTarget}}</h3>
    <div>
        <span>From:</span>
        <input type="text" id="sender" ng-model="sender"
               placeholder="sender address 0x..."/></div>
    <div>
        <span>Amount:</span>
        <input type="number" id="amount" ng-model="amount"
               placeholder="goal amount in wei"/></div>
    <button ng-click="fund(sender,amount)">fund it!</button>
</div>

<ul>
    <li ng-repeat="project in projects" ng-click="projectSelected(project)" ng-class="project.refunded || project.paid ? '' : 'canHover'">
        <div id="columns">
            <h5><span>project @ </span><span>{{project.address}}</span></h5>
            <p>
                <span>owner @ </span><span>{{project.owner}}</span><br/>
                <span>goalAmount -> </span><span>{{project.goalAmount.toString()}}</span><br/>
                <span>deadline is </span><span>{{project.deadline.toNumber()*1000 | date }}</span><br/>
                <span>amountFunded @ </span><span>{{project.amountFunded.toString()}}</span><br/>
                <span id="bold" ng-show="project.refunded || project.paid"><span>status: </span><span>{{project.refunded? 'refunded' : 'paid'}}</span></span><br/>
            </p>
        </div>
    </li>
</ul>
</body>
</html>
